@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainWhite: #fff;
  --mainGreen: #79c142;
  --mainGrey: #eaeaea;
  --mainDark: #171717;
  --mainTransition: all 0.3s ease-in-out;
}
body {
  font-family: "Roboto", sans-serif;
}
.list-container {
  transform: translateX(100%);
  background-color: var(--mainGrey);
  position: absolute;
  right: 0;
  top: 0;
  left: 19%;
  bottom: 0;
  transition: var(--mainTransition);
}
.show-list-container {
  transform: translateX(0%);
}
.sidebar-logo-container {
  background-color: var(--mainDark);
  padding: 7px 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  list-style: none;
  padding: 1rem;
}
.list .list-item .link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--mainDark);
  padding: 0.5rem 0;
  font-weight: bold;
  transition: var(--mainTransition);
}
/* .list .list-item .link:last-child() {
  padding: 0;
} */
.list .list-item .link:hover {
  color: var(--mainGreen);
}
.search-container {
  position: relative;
  width: 90%;
  margin: auto;
}
.nav-search {
  display: block;
  width: 100%;
  border: none;
  padding: 0.7rem 2.5rem;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  color: var(--mainGrey);
}
.nav-search:focus {
  outline: none;
}
.nav {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}
.nav-container {
  max-width: 90vw;
  margin: auto;
}
.logo-container {
  height: 100%;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 11.5rem;
}

.show-btn {
  display: block;
}
.btn {
  border: none;
  font-size: 1.5rem;
  background: white;
  color: var(--mainDark);
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn:hover {
  color: var(--mainGreen);
}
.close {
  color: var(--mainWhite);
  background-color: var(--mainDark);
}
@media screen and (min-width: 992px) {
  .bars {
    display: none;
  }
  .list-container .sidebar-logo-container {
    display: none;
  }
  .nav-container {
    display: flex;
    align-items: center;
  }
  .list-container {
    transform: translateX(0);
    background-color: white;
    position: static;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
  }
  .logo-container {
    flex-basis: 20%;
  }
  /* .list,
  .search-container {
    display: block;
  } */
  .list {
    display: flex;
    padding: 0;
    gap: 1rem;
    flex-basis: 100%;
  }
  .search-container {
    flex-grow: 0;
    flex-shrink: 1;
  }
  .link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--mainDark);
  }
  /* .toggle-icon-container {
    display: none;
  } */
}

/* check margin in the sidbar list */
